In [1]:
import pandas as pd


def count_top3(years):
    dfs = []
    for year in years:
        dfs.append(pd.read_csv(f'years/yob{year}.txt', names=['Name', 'Gender', 'Count']))
    df_concat = pd.concat(dfs)
    return df_concat.groupby('Name').sum().sort_values('Count', ascending=False).head(3)

count_top3([1900, 1950, 2000])

         Count
Name
James   111789
John    109601
Robert  101368

In [2]:
def count_dynamics(years):
    dfs = []
    for year in years:
        df = pd.read_csv(f'years/yob{year}.txt', names=['Name', 'Gender', 'Count'])
        df['Year'] = year
        dfs.append(df)
        
    df_concat = pd.concat(dfs).groupby(['Year', 'Gender']).sum()
    return df_concat.unstack('Year')

count_dynamics([1900, 1950, 2000])

         Count
Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202